body {
    background-color: bisque;
}

h1 {
    text-align: center;
    border: solid 1px black;
    background-color:rgb(85, 107, 47);
    font-size: 100px;
    padding: 30px 20px 50px 20px;
}

nav > ul > li{
    border: solid black 1px;
    display: inline;
    margin: 80px;
    padding: 10px;
    font-size: 35px;
}

#hero {
    width: 1200px;
}

section > p {
    background-color: brown;
    color: blue;
}

footer p {
    text-align: center;
    display: inline;
    margin: 150px;
}